body {
    background-color: #e0e1dd;
    margin: 0;
}

/*main*/
.sup {
    display: flex;
    justify-content: space-between;
}

.der {

    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.izq {

    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}

.nuevo {
    color: chocolate;
    font-size: 25px;
    font-family: "Ancizar Sans", sans-serif;
}

.nom {
    color: #415a77;
    font-size: 35px;
    font-family: "Ancizar Sans", sans-serif;

}

.precio {
    color: #415a77;
    font-size: 30px;
    font-family: "Ancizar Sans", sans-serif;

}

.inf {
    color: #778da9;
    font-size: 20px;
    font-family: "Ancizar Sans", sans-serif;
}

.productos {
    padding: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.producto {
    gap: 10px;
    width: calc(33.333% - 20px);
    border: 1px black;
    display: flex;
    flex-direction: column;
}

.imagen img {
    width: 100%;
    height: 100%;
}

/*footer*/
footer {
    background-color: cadetblue;
    
}


.contenedorA {
    display: flex;
    justify-content: space-between;

}

#iconos-redes {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.contenedorB {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top:black solid 4px;
    
}

.contenedorB ul {
    display: flex;
    flex-direction: row;
    
}

ul {
    list-style-type: none;
}
.filas {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
    padding-top: 5px;
}
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.FyL{
    display: flex;
    align-items: center;
}
.espacio{
    display: flex;
    gap: 15px;
}
.whatsapp{
    position: fixed;
    right: 30px;
    bottom: 30px;
}